@charset "utf-8";
$header-color: #fff;
.header {
  position: relative;
  min-height: rem(42px);
  background-color: $theme-color;
  color: $header-color; // 通过继承，方便修改色值
  z-index: z("base", "header");
  font-size: $font-size-large;
  width: 100%;
  top: 0;
  left: 0;
}

.header h3, .header-title {
  font-size: 1em;
  color: $header-color;
  text-align: center;
  display: block;
  margin: 0 rem(65px);
  height: rem(42px);
  line-height: rem(42px);
  @include text-overflow;
  pointer-events: none;
}

// 多个按钮在header右边时的容器
.header-btns {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  @include flex-align(null, center);
}

// 左侧按钮
.back,
.header-left {
  min-width: rem(42px);
}

.back,
.header-right,
.header-left {
  position: absolute;
  top: 0;
  left: $inner-width;
  height: rem(42px);
  line-height: rem(42px);
  font-weight: 500;
  color: inherit;
  line-height: rem(42px);
  &:hover,
  &:active {
    opacity: .8;
  }
}

// 返回按钮
.back i {
  font-weight: 700;
  font-size: 18px;
  margin-left: -.24rem
}
.header-right {
  left: auto;
  right: $inner-width;
  max-width: rem(88px);
  @include text-overflow;
}
.header-right.theme-color {
  color: #fff;
}
